@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/bc243781a951cf39176535269f463ae3?family=SamsungGothicCondensedWeb+Bold');

@font-face {
    font-family: 'Samsung-Bold';
    src: url('/fonts/SamsungSans-Bold.ttf');
}

@font-face {
    font-family: 'Samsung-Light';
    src: url('/fonts/SamsungSans-Light.ttf');
}

@font-face {
    font-family: 'Samsung-Medium';
    src: url('/fonts/SamsungSans-Medium.ttf');
}

@font-face {
    font-family: 'Samsung-Regular';
    src: url('/fonts/SamsungSans-Regular.ttf');
}


@font-face {
    font-family: 'Samsung-Thin';
    src: url('/fonts/SamsungSans-Thin.ttf');
}

*{
    box-sizing: border-box;
}

:root {
    --background: #010102;
    --background-pulse: #363636;
    --text: #fafaff;
    --link: #d9e2ec;
    --block: #17171a;
    --main: #3a3a3d;
    --main-hover: #575759;
    --navigation: #a6caef;
    --navigation-hover: #ffffff;
    --follow-nuber: #acacac;
}

body {

    background-color: var(--background);
    font-family: Samsung-Regular;
    color: var(--text);
    -ms-overflow-style: none;
    scrollbar-width: none;

}

body::-webkit-scrollbar {

    display: none;

}

body.pulse {
    animation: pulse 0.5s linear infinite;
}

@keyframes pulse {
    0% {
        background-color: var(--background);
    }

    50% {
        background-color: var(--background-pulse);
    }

    100% {
        background-color: var(--background);
    }
}

h1,
h2,
h3,
h4 {

    text-align: center;
    margin: auto;
    padding: 5px;
    font-family: Samsung-Bold;

}

hr {

    height: 5px;
    width: 300px;
    border: 0px;
    background-color: var(--main);
    border-radius: 50px;

}

a {

    color: var(--text);
    text-decoration: none;

}

p {

    text-indent: 20px;

}

name {

    font-size: 30px;
    font-family: Samsung-Medium;

}

proffession {

    font-size: 20px;
    font-family: Samsung-Medium;
    padding: 2px;

}

country {

    font-size: 20px;
    font-family: Samsung-Medium;
    padding: 2px;

}

.navigation {

    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;

}

.navigation-link {

    transition: color 0.5s;

    margin-inline: 10px;
    color: var(--navigation);
    padding: 10px;

}

.navigation-link:hover {

    color: var(--navigation-hover);

}

.navigation-link-on {

    margin-inline: 10px;
    color: var(--text);
    pointer-events: none;
    background-color: var(--main);
    border-radius: 10px;
    padding: 10px;

}

.banner {

    background-color: var(--block);
    height: 100px;
    width: 600px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    background-image: url('/photos/banner.png');
    background-size: cover;
    background-position: center;
    border: 2px solid;
    border-color: var(--main);

    animation: Slide_Up 0.5s ease;

}

.profile {
    background-color: var(--block);
    width: 600px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: var(--main);
    border-top: none;

    animation: Slide_Up 0.5s ease;
}

.profile name,
.profile proffession,
.profile country,
.profile about {
    display: block;
}


.profile-container {

    display: flex;

}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8 {
    background-color: var(--block);
    width: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: var(--main);
}

.block-1 {

    animation: Slide_Up 0.5s ease;
}

.block-2 {
    animation: Slide_Up 1s ease;
}

.block-3 {
    animation: Slide_Up 1.5s ease;
}

.block-4 {
    animation: Slide_Up 2s ease;
}

.block-5 {
    animation: Slide_Up 2.5s ease;
}

.block-6 {
    animation: Slide_Up 3s ease;
}

.block-7 {
    animation: Slide_Up 3.5s ease;
}

.block-8 {
    animation: Slide_Up 4s ease;
}

.social-block-container {

    width: 600px;
    margin: auto;
    display: flex;

}

.instagram-block {

    background-color: var(--block);
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: var(--main);

    animation: Slide_Up 1s ease;

}

.instagram-block-icon {

    height: 25px;
    width: 25px;

    background-image: url('/icons/instagram.png');
    background-size: cover;
    background-position: center;

}

.instagram-photos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.photo-change-button {

    width: 20px;
    height: 20px;
    background-color: var(--main);
    border-radius: 50px;
    color: var(--text);
    text-align: center;
    font-family: Samsung-Bold;
    cursor: pointer;
    user-select: none;

}

.instagram-photos {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.1s ease;
    margin: 10px;
}

.instagram-block-label {

    display: flex;
    align-items: center;
    text-align: center;


}

.instagram-block-username {

    margin-left: 10px;

}

.photo1 {
    background-image: url('/photos/instagram/moulins.webp');
}

.photo2 {
    background-image: url('/photos/instagram/lyon.webp');
}

.photo3 {
    background-image: url('/photos/instagram/course-work.webp');
}

.instagram-follow-button {

    transition: background-color 0.5s;

    background-color: var(--main);
    width: 150px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    user-select: none;

}

.instagram-follow-button:hover {

    background-color: var(--main-hover);

}

fol-number {

    color: var(--follow-nuber);

}

.youtube-block {

    background-color: var(--block);
    width: 340px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: var(--main);

    animation: Slide_Up 1.5s ease;

}

.youtube-block-icon {

    height: 25px;
    width: 25px;

    background-image: url('/icons/youtube.png');
    background-size: cover;
    background-position: center;

}

.youtube-block-label {

    display: flex;
    align-items: center;
    text-align: center;


}

.youtube-block-username {

    margin-left: 10px;

}

.map-block {

    background-color: var(--block);
    width: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: var(--main);

    animation: Slide_Up 2s ease;

}

.map-block-icon {

    height: 25px;
    width: 25px;

    background-image: url('/icons/location.png');
    background-size: cover;
    background-position: center;

}

.map-block-label {

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;


}

.map-block-username {

    margin-left: 10px;

}

@keyframes Slide_Up {
    0% {
        transform: translateX(100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--main);
    transform: translateY(-80px);
    margin-bottom: -70px;

    background-image: url('/photos/avatar.png');
    background-size: cover;
    background-position: center;


}

.location {

    width: 20px;
    margin-bottom: -3px;
    margin-right: 5px;

}

.text-extra {

    width: 80%;
    margin: auto;
}

.text {

    width: 80%;
    margin: auto;
    text-align: center;

}

.text-h {

    text-align: center;
    width: 80%;
    margin: auto;

}

.text-a {

    transition: color 0.5s;

    color: var(--navigation);
    border-radius: 50px;

}

.text-a:hover {

    color: var(--navigation-hover);
    border-radius: 50px;

}

.text-p {

    color: var(--main-hover);

}

.button {

    transition: background-color 0.5s;

    background-color: var(--main);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    width: 20px;


}

.button:hover,
.button-center:hover {

    background-color: var(--main-hover);

}


.embed-v {

    display: block;
    border-radius: 30px;
    margin: auto;
    width: 100%;

}

.services-container {

    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    user-select: none;
    text-align: center;

}

.services-block1, .services-block2, .services-block3, .services-block4, .services-block5 {

    width: 40%;
    flex-grow: 1;
    flex-basis: 190px;

}

.services-block1 {

    animation: Slide_Up 1s ease;

}

.services-block2 {

    animation: Slide_Up 1.5s ease;

}

.services-block3 {

    animation: Slide_Up 2s ease;

}

.services-block4 {

    animation: Slide_Up 2.5s ease;

}

.services-block5 {

    animation: Slide_Up 3s ease;

}

.services-block1:hover > .services-block-label, .services-block2:hover > .services-block-label, .services-block3:hover > .services-block-label, .services-block4:hover > .services-block-label, .services-block5:hover > .services-block-label {

    background-color: var(--main-hover);

}

.services-block-banner1, .services-block-banner2, .services-block-banner3, .services-block-banner4, .services-block-banner5 {

    background-color: var(--block);
    height: 100px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    border: 2px solid;
    border-color: var(--main);
    background-size: cover;
    background-position: center;

}

.services-block-banner1 {

    background-image: url(https://i.postimg.cc/mZv3XXF7/Blue-Girl.jpg);

}

.services-block-banner2 {

    background-image: url(https://i.postimg.cc/VNL2ZCYM/The-Inner-Light.jpg);

}

.services-block-banner3 {

    background-image: url(https://i.postimg.cc/CxYbfjr4/Thin-Lines.jpg);

}

.services-block-banner4 {

    background-image: url(https://i.postimg.cc/hjvcXfHW/Minimalist-Lofi-Desk.jpg);

}

.services-block-banner5 {

    background-image: url(https://i.postimg.cc/K89ccL8c/Abstract-Dark.jpg);

}



.services-block-label {

    background-color: var(--block);
    height: 140px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    border: 2px solid;
    border-top: 0;
    border-color: var(--main);

    transition: background-color 0.5s;

}

.education-document1, .education-document2, .education-document3 {

    transition: height 0.5s;

    background-color: var(--block);
    width: 600px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    border: 2px solid;
    border-color: var(--main);
    height: 100px;
    background-size: cover;
    background-position: center;

}

.education-document1 {

    background-image: url(/photos/base.jpg);
    animation: Slide_Up 0.5s ease;

}

.education-document2 {

    background-image: url(/photos/full.jpg);
    animation: Slide_Up 1s ease;

}

.education-document3 {

    
    background-image: url(/photos/spec.png);
    animation: Slide_Up 1.5s ease;

}

.education-document1:hover, .education-document2:hover, .education-document3:hover {

    height: 420px;

}

.education-label1, .education-label2, .education-label3 {

    background-color: var(--block);
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    border: 2px solid;
    border-top: 0;
    border-color: var(--main);

}

.education-label1 {

    animation: Slide_Up 0.5s ease;
}

.education-label2 {

    animation: Slide_Up 1s ease;
}

.education-label3 {

    animation: Slide_Up 1.5s ease;

}

.other-container {

    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    user-select: none;
    text-align: center;

}

.other-block1, .other-block2, .other-block3, .other-block4, .other-block5 {

    width: 40%;
    flex-grow: 1;
    flex-basis: 190px;

}

.other-block1 {

    animation: Slide_Up 1s ease;

}

.other-block2 {

    animation: Slide_Up 1.5s ease;

}

.other-block3 {

    animation: Slide_Up 2s ease;

}

.other-block4 {

    animation: Slide_Up 2.5s ease;

}

.other-block5 {

    animation: Slide_Up 3s ease;

}

.other-block1:hover > .other-block-label, .other-block2:hover > .other-block-label, .other-block3:hover > .other-block-label, .other-block4:hover > .other-block-label, .other-block5:hover > .other-block-label {

    background-color: var(--main-hover);

}

.other-block-banner1, .other-block-banner2, .other-block-banner3, .other-block-banner4, .other-block-banner5 {

    background-color: var(--block);
    height: 100px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    border: 2px solid;
    border-color: var(--main);
    background-size: cover;
    background-position: center;

}

.other-block-banner1 {

    background-image: url(/photos/block-baners/Gear.jpg);

}

.other-block-banner2 {

    background-image: url();

}

.other-block-banner3 {

    background-image: url();

}

.other-block-banner4 {

    background-image: url();

}

.other-block-banner5 {

    background-image: url();

}



.other-block-label {

    background-color: var(--block);
    height: 140px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
    border: 2px solid;
    border-top: 0;
    border-color: var(--main);

    transition: background-color 0.5s;

}

.item {

    display: block;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    padding: 5px;

}

.item-meme {

    display: block;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    padding: 5px;
    cursor: pointer;

    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;

}

.playing {
    animation-play-state: running;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.item-table {

    width: 100%
}

.item-text {

    text-align: center;
    margin: 10px;

}

.item-sq {

    width: 50%;

}

.other-block-icon {

    width: 40%;

}


.game-ico {

    display: block;
    height: 300px;
    border-radius: 20px;
    margin: auto;

}

.gamepanel {

    width: fit-content;
    margin: auto;

}

.gamegroup {

    display: inline-block;
    margin: 20px;

}

.spotify {

    border-radius: 12px;
    border: none;
    width: 90%;
    height: 152px;
    padding: 10px;
    margin: auto;
    display: block;

}



@media only screen and (max-width: 700px) {

    hr {

        width: 200px;

    }

    .block-1,
    .block-2,
    .block-3,
    .block-4,
    .block-5,
    .block-6,
    .block-7,
    .banner,
    .profile {
        width: 90%;
    }


    .navigation {

        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .navigation-link {

        margin-inline: 0px;
        padding: 10px;

    }

    .navigation-link-on {

        margin-inline: 0px;
        padding: 10px;

    }

    .avatar {

        width: 100px;
        height: 100px;

    }

    .instagram-block {

        width: 100%;

    }

    .instagram-photos {

        width: 100px;
        height: 100px;

    }

    .photo1, .photo2, .photo3{

        width: 100px;
        height: 100px;

    }

    .instagram-photos-container{

        width: 100%;
        height: fit-content;

    }

    .youtube-block {

        width: 100%;

    }

    .social-block-container {

        width: 90%;
        flex-direction: column;
    
    }

    .map-block {

        width: 90%;

    }

    .map {

        width: 100%;

    }

    .education-document1, .education-document2, .education-document3, .education-label1, .education-label2, .education-label3 {

        width: 90%;

    }

    .education-document1:hover, .education-document2:hover, .education-document3:hover {

        height: 240px;

    }

    .services-container {

        width: 90%;
    
    }

    .other-container {

        width: 90%;
    
    }

    .background-image {

        display: none;

    }

    .gamepanel {

        margin: auto;

    }

    .gamegroup {

        display: inline;

    }

    .other-panel {

        justify-content: center;

    }
}