@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{

    background-color: black !important;

}

hr
{

    color: black;
    height: 5px;
    background: black;
    border-radius: 50px;

}

.h1
{

    font-family: Montserrat;
    font-size: 25px;
}

h2
{

    font-family: Montserrat;

}

h3
{

    font-family: Montserrat;

}

.ualink
{
    
    color: black;
    transition: content 1s;
    text-decoration: none;

}



.ualink:hover
{

    

}

.loc:hover
{



}

.ualinkbg:hover
{

    

}

.socialbutton
{

    width: 60px;
    text-decoration: none;

}

.socialicon
{

    transition: margin-bottom 0.3s;

    width: 60px;
    margin-bottom: 5px;

}

.socialicon:hover
{
    margin-bottom: 0px;
    filter: contrast(80%);

}

.servicebutton
{

    transition: width 0.5s;

    
    color: white;
    font-family: Montserrat;
    background-color: black;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border-width: 0px;


}

.servicebutton:hover
{


    width: 80%;
    filter: contrast(80%);

}

.ndbg
{

    border-radius: 50px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    width: 70%;

}

.loc
{

    height: 20px;
    margin-bottom: -4px;

}

.lang
{

    height: 40px;
    margin-left: 10px;
    margin-right: 10px;

}
