#avatar-portfolio {
    height: 200px;
    width: 200px;
    border-radius: 11px;
    border: var(--border) 2px solid;
    transform: translateY(-70px);
    margin-bottom: -65px;
    background-image: url(/photos/avatar-portfolio.png);
    background-size: cover;
    background-position: center;
    background-color: var(--block);
    margin-inline: auto;
}

#top-placeholder {
    height: 60px;
}

.margin-10 {
    margin-top: 10px;
}


.margin-15 {
    margin-top: 15px;
}

.portfolio-badges {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-tabler-portfolio-badge {
    height: 40px;
    width: 40px;
}

.block-head-main {
    background-image: url(/photos/hearts.png);
    background-size: cover;
    background-position: center;
}

.cv-iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
}

.portfolio-lang {
    height: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--second-text);
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio-lang-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio-lang-lvl {
    height: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--second-text);
}

.portfolio-lang-nolvl {
    height: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--hover);
}

.quality-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.quality-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--border);
    border-radius: 8px;
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.quality-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: var(--text);
}

.formation-banner {
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--border);
    aspect-ratio: 21 / 9;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobby-item {
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--border);
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.hobby-badges {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.hobby-name {
    margin-bottom: 5px;
    font-weight: bold;
}