#counter {

    font-size: 50px;
    display: flex;
    justify-content: center;

}

#incrementButton {

    width: 100%;
    
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    background: linear-gradient(to bottom, transparent, rgb(71, 71, 71));
    border-top: none;
    user-select: none;
    border-radius: 20px;

}

#counter-container {

    display: flex;
    gap: 5px;
    justify-content: center;
    height: 60px;

}

.tapquanti {

    width: 100%;

}

.coin {

    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;

}